.keranjang {
  margin-top: 6em;
}

.keranjang .title {
  margin: 3em;
}

.keranjang .my-keranjang .table img {
  height: 6em;
}

.keranjang .my-keranjang .table a {
  text-decoration: none;
  color: #000;
}

.keranjang .my-keranjang .table .kuantitas {
  width: fit-content;
  display: inline-flex;
}

.keranjang .my-keranjang .table .kuantitas button {
  border-color: #000;
  border-radius: 0;
  color: #000;
}

.keranjang .my-keranjang .table .kuantitas button:hover {
  background-color: #e79406;
}

.keranjang .my-keranjang .table .kuantitas input {
  border-color: #000;
}

.keranjang .my-keranjang .table .total {
  color: #e79406;
  font-weight: bold;
}

.keranjang .my-keranjang .btn-checkout {
  background-color: #e79406;
  border-color: #e79406;
  border-width: 0;
  color: #fff;
  font-weight: bold;
  width: 8em;
  margin-top: 2em;
}

.keranjang .my-keranjang .btn-checkout:hover {
  background-color: #000;
  color: #fff;
}
