.help {
  margin-top: 6em;
}

.help .title {
  margin: 3em;
}

.help li {
  list-style: none;
}

.help .social-media {
  color: #fff;
  display: inline-flex;
  text-decoration: none;
  background-color: #000;
  padding: 0.5em;
}

.help .social-media iconify-icon {
  font-size: 1.5em;
  padding-right: 0.5em;
}
